{% extends 'base.html' %}

{% block title %}Create a List{% endblock title %}

{% block content %}
<main>
    <div>
    <h1>Create a new list</h1>
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button>Create</button>
    </form>
    </div>
</main>
{% endblock content %}
