{% extends 'base.html' %}

{%block title%}Editing Task -{{item.task}} {%endblock title%}

{% block content %}
<main>
<div>
    <h1>Update Item</h1>
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button>Update</button>
    </form>
</div>
</main>
{% endblock content %}
