{%extends 'base.html'%}

{% block title %}Editing {{list.name}}{% endblock title %}

{% block content %}
<main>
    <div>
        <h1>Updating {{list.name}}</h1>
        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button>Update</button>
        </form>
    </div>
</main>
{% endblock content %}
